<header>
  <h1>Welcome to Shine, <%= current_user.email %> </h1>
  <h2>We are usern Rails <%= Rails.version %></h2>
</header>
<section>
  <p>
    Future home of Shine Dashboard
  </p>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</section>