<header>
  <customer_summary
    cust="customer">
  </customer_summary>
</header>

<form novalidate name="form">
  <div class="row">
  <div class="col-md-6">
    <article class="panel panel-primary">
      <header class="panel-heading">
        <h2 class="h1">
          <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
          Customer</h2>
      </header>
      <section class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.first_name.$invalid && form.first_name.$dirty,
              'has-success': form.first_name.$valid && form.first_name.$touched
            }">
              <label class="sr-only" for="first_name">First Name</label>
              <input type="text" id="first_name" class="form-control" required
                     name="first_name" ng-model="customer.customer_first_name">
              <p class="help-block" ng-messages="form.first_name.$error">
                <span class="help-block" ng-message="required">First Name is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.last_name.$invalid && form.last_name.$dirty,
              'has-success': form.last_name.$valid && form.last_name.$touched
            }">
              <label class="sr-only" for="last_name">Last Name</label>
              <input type="text" id="last_name" class="form-control" required name="last_name" ng-model="customer.customer_last_name">
              <p class="help-block" ng-messages="form.last_name.$error">
                <span class="help-block" ng-message="required">Last Name is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{
              'has-error': form.user_name.$invalid && form.user_name.$dirty,
              'has-success': form.user_name.$valid && form.user_name.$touched
            }">
              <label class="sr-only" for="user_name">User Name</label>
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" id="user_name" class="form-control" required name="user_name" ng-model="customer.customer_username">
              </div>
              <p class="help-block" ng-messages="form.user_name.$error">
                <span class="help-block" ng-message="required">User Name is required</span>
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.email.$invalid && form.email.$dirty,
              'has-success': form.email.$valid && form.email.$touched
            }">
              <label class="sr-only" for="email">Email</label>
              <input type="email" class="form-control" required name="email" ng-model="customer.customer_email">
              <p class="help-block" ng-messages="form.email.$error">
                <span class="help-block" ng-message="required">Email is required</span>
                <span class="help-block" ng-message="email">Email must look like an email</span>
              </p>
            </div>
          </div>

        </div>
      </section>
      <footer class="panel-footer">
        <label class="" for="joined">Joined</label> {{customer.customer_created_at | date}}
      </footer>
    </article>
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">
          <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
          Shipping Address</h2>
      </header>
      <section class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.shipping_address_street.$invalid && form.shipping_address_street.$dirty,
              'has-success': form.shipping_address_street.$valid && form.shipping_address_street.$touched
            }">
              <label class="sr-only" for="shipping_address_street">Street Address Extra</label>
              <input type="text" id="shipping_address_street" required
                     class="form-control" name="shipping_address_street"
                     ng-model="customer.shipping_address_street">
              <p class="help-block" ng-messages="form.shipping_address_street.$error">
                <span class="help-block" ng-message="required">Street Address Extra is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.shipping_address_city.$invalid && form.shipping_address_city.$dirty,
              'has-success': form.shipping_address_city.$valid && form.shipping_address_city.$touched
            }">
              <label class="sr-only" required for="shipping_address_city">City</label>
              <input type="text" id="shipping_address_city" class="form-control"
                     ng-model="customer.shipping_address_city"
                     name="shipping_address_city">
              <p class="help-block" ng-messages="form.shipping_address_city.$error">
                <span class="help-block" ng-message="required">Street Address Extra is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" ng-class="{
              'has-error': form.shipping_address_code.$invalid && form.shipping_address_code.$dirty,
              'has-success': form.shipping_address_code.$valid && form.shipping_address_code.$touched
            }">
              <label class="sr-only" for="shipping_address_code">State</label>
              <input type="text" class="form-control" id="shipping_address_code"
                     required pattern="[A-Z][A-Z]"
                     name="shipping_address_code"
                     ng-model="customer.shipping_address_code"  >
              <p class="help-block" ng-messages="form.shipping_address_code.$error">
                <span class="help-block" ng-message="required">State is required</span>
                <span class="help-block" ng-message="pattern">State must look like an state</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.shipping_address_zipcode.$invalid && form.shipping_address_zipcode.$dirty,
              'has-success': form.shipping_address_zipcode.$valid && form.shipping_address_zipcode.$touched
            }">
              <label class="sr-only" for="zip">Zip</label>
              <input type="text" required pattern="\d\d\d\d\d"
                     class="form-control" name="shipping_address_zipcode"
                     ng-model="customer.shipping_address_zipcode"
                     value="{{customer.shipping_address_zipcode}}">
              <p class="help-block" ng-messages="form.shipping_address_zipcode.$error">
                <span class="help-block" ng-message="required">Zip is required</span>
                <span class="help-block" ng-message="pattern">Zip must look like an zip</span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>


  <div class="col-md-6 billing-info">
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">
          <i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i>
          Billing Info</h2>
      </header>
      <section class="panel-body" ng-controller="CustomerCreditCardController"
        ng-init="setCardholder(customerId)">
        <div class="row">
          <div ng-if="!creditCard.$resolved">
            <div class="col-md-10 col-md-offset-1" >
              <aside class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 100%;">
                  Loading...
                </div>
              </aside>
            </div>
          </div>
          <div ng-if="creditCard.$resolved">
            <div class="col-md-7">
              <p class="h4">
                ****-****-****-{{creditCard.lastFour}}
                <span class="label label-success">{{creditCard.cardType}}</span>
              </p>
              <p>
                <label>Expires:</label> {{creditCard.expirationMonth}}/{{creditCard.expirationYear}}
              </p>
            </div>
            <div class="col-md-5 text-right">
                <a href="{{creditCard.detailsLink}}" class="btn btn-lg btn-default">
                  View details ...
                </a>
            </div>
          </div>
        </div>
        <h3 class="h4">Billing Address <input type="checkbox" ng-click="copyShippingAddress()"><small>Same as Sipping?</small></h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.billing_address_street.$invalid && form.billing_address_street.$dirty,
              'has-success': form.billing_address_street.$valid && form.billing_address_street.$touched
            }" >
              <label class="sr-only" required for="street-address">Street Address</label>
              <input type="text" class="form-control" name="billing_address_street"
                     ng-model="customer.billing_address_street"
                     value="{{customer.billing_address_street}}">
              <p class="help-block" ng-messages="form.billing_address_street.$error">
                <span class="help-block" ng-message="required">Street Address is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.billing_address_city.$invalid && form.billing_address_city.$dirty,
              'has-success': form.billing_address_city.$valid && form.billing_address_city.$touched
            }" >
              <label class="sr-only" required for="city">City</label>
              <input type="text" class="form-control"  name="billing_address_city"
                     ng-model="customer.billing_address_city"
                     value="{{customer.billing_address_city}}">
              <p class="help-block" ng-messages="form.billing_address_city.$error">
                <span class="help-block" ng-message="required">City is required</span>
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" ng-class="{
              'has-error': form.billing_address_code.$invalid && form.billing_address_code.$dirty,
              'has-success': form.billing_address_code.$valid && form.billing_address_code.$touched
            }" >
              <label class="sr-only" for="state">State</label>
              <input type="text" class="form-control"  name="billing_address_code"
                     required pattern="[A-Z][A-Z]"
                     ng-model="customer.billing_address_code"
                     value="{{customer.billing_address_code}}">
              <p class="help-block" ng-messages="form.billing_address_code.$error">
                <span class="help-block" ng-message="required">State is required</span>
                <span class="help-block" ng-message="pattern">State must look like an state</span>
              </p>
            </div>
          </div>
          <div class="col-md-4">
          <div class="form-group has-feedback" ng-class="{
              'has-error': form.billing_address_zipcode.$invalid && form.billing_address_zipcode.$dirty,
              'has-success': form.billing_address_zipcode.$valid && form.billing_address_zipcode.$touched
            }" >
            <label class="sr-only" for="zip">+</label>
            <input type="text" class="form-control"
                   required pattern="\d\d\d\d\d"
                   name="billing_address_zipcode"
                   ng-model="customer.billing_address_zipcode">
            <p class="help-block" ng-messages="form.billing_address_zipcode.$error">
              <span class="help-block" ng-message="required">Zip is required</span>
              <span class="help-block" ng-message="pattern">Zip must look like an zip</span>
            </p>
          </div>
        </div>
        </div>
      </section>
    </article>
    <div class="text-right">
      <button ng-click=""
              class="btn btn-lg btn-danger ladda-button save-button-js"
              data-style="expand-right"
              type="button">
      <!--ng-disabled="form.$invalid || form.$pristine"-->
        <span class="ladda-label">
          <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
          Deactivate Customer
        </span>
      </button>
      <button ng-click="save()"
              class="btn btn-lg btn-primary ladda-button save-button-js"
              data-style="expand-right"
              type="submit"
              ng-disabled="form.$invalid || form.$pristine"
        >
        <span class="ladda-label">
          <i class="glyphicon glyphicon-save" aria-hidden="true"></i>
          Save Changes
        </span>
      </button>

    </div>
  </div>

  </div>
</form>